body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 30px;
}
.graduation {
  padding: 50px 10% 0 10%;
  background: linear-gradient(180deg, #0095ff70, transparent);
}
.graduation > span {
  display: block;
}
h1 {
  font-size: 24px
}
h2 {
  font-size: 17px;
}
.author {
  margin-right: 10%;
  display: block;
  text-align: right;
}
.content {
  margin: 50px 10%;
  width: 80%;
  box-sizing: border-box;
}
h3 {
  padding: 0 10px;
  width: 100%;
  box-sizing: border-box;
  display: block;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid #000000;
}
h4 {
  border: none;
  margin: 5px 0;
  padding: 0 10px;
  width: 100%;
  box-sizing: border-box;
  background-color: #000000;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
}
ol {
  margin-bottom: 30px;
}
ol > li > ol {
  margin-bottom: 0;
}
.attention {
  padding: 5px 10px;
  background-color: #525252;
  color: #ffffff;
  margin-right: 10px;
}
img {
  width: 50%;
  display: block;
}
#area, #desks2, #desks3, #cardboard {
  border: none;
  background: transparent;
  text-decoration: underline;
  color: -webkit-link;
  cursor: pointer;
}
.hidden {
  display: none;
}
.footer {
  padding: 50px 10%;
  width: 80%;
  background-color: #525252;
  display: flex;
}
.footer > div {
  line-height: 20px;
}
.footer > div > p > a {
  color: #ffffff;
}
.footer > div > p > a:visited {
  color: #ffffff;
}
.footerleft > p > a {
  text-decoration: none;
}
.footerleft > a, .footerleft > a:visited > p {
  color: #ffffff;
  text-decoration: none;
}
.footerleft > p > a > span:last-child {
  font-size: 25px;
  line-height: 40px;
}
.footermiddle, .footerright {
  margin-left: 10%;
}

@media screen and (max-width: 700px) {
  .content {
    display: block;
    width: 100%;
    margin: 50px 0;
  }
  img {
    width: 100%;
  }
  .footer {
    display: block;
  }
}